/* STYLE TPSTKA */

.judultpstka {
    text-align: center;
    background-color: #15043d;
    color: aliceblue;
    padding: 40px;
}


.log-out {
    background: #15043d;
    text-decoration: none;
    float:left;
    margin-left: 40px;
    border-radius: 2px;
    font-size: 10px;
    font-weight: 600;
    color: white;
    transition: 0.5s;
    width: 70px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.rowtpstka {
    margin-top: 3.5%;
    padding: 50px;
    display: flex;
    justify-content: space-around;
  }
  .about-col {
    flex-basis: 25%;
    font-size: 40px;
    color: aliceblue;
    background-color: rgb(52, 109, 196);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px 7px;
    padding-top: 50px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    box-shadow: 2px 10px 3px 4px rgb(9, 16, 116);
  }

  #submit {
    background: -webkit-radial-gradient(right, #B4CDF1, white);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #B4CDF1;
    cursor: pointer;
    color: rgb(0, 67, 155);
    height: 42px;
    margin: 0 auto;
    margin-top: 10px;
    transition: 0.25s;
    width: 150px;
    align-items: center;
    float: right;
    box-shadow: 3px 3px 3px 3px rgb(115, 123, 194);
    
  }

  #akhir{
      text-align: center;
      padding-top: 100px;
      padding: 25px;
      background-color:#15043d ;
      color: white;
  }

  #two {
    margin-top: 3.5%;
    display: flex;
    padding: 50px;
    justify-content: space-around;
  }
  .about-col1 {
    flex-basis: 25%;
    font-size: 40px;
    color: aliceblue;
    background-color: rgb(52, 109, 196);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px 7px;
    padding-top: 50px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    box-shadow: 2px 10px 3px 4px rgb(9, 16, 116);
  }

  .about-col2 {
    flex-basis: 25%;
    font-size: 40px;
    color: aliceblue;
    background-color: rgb(52, 109, 196);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px 7px;
    padding-top: 50px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    box-shadow: 2px 10px 3px 4px rgb(9, 16, 116);
  }