body {
  font-family: "Quicksand", sans-serif;
}
#header-wfresh {
  background-color: #2b2252;
  height: 50px;
  color: white;
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
}
#kiri-wfresh {
  float: left;
  width: 49%;
  text-align: center;
}

#kanan-wfresh {
  float: right;
  text-align: center;
  display: flex;
  justify-content: right;
}

.h2-kiri-wfresh {
  text-align: center;
}
#video-wfresh {
  width: 100%;
  text-align: center;
}

#all-col-wfresh {
  padding: 15px;
  border: 3px solid #0c375f;
  margin: 20px;
  height: 420px;
  width: 365px;
  border-radius: 15px;
}

#all2-col-wfresh {
  padding: 15px;
  padding-left: 0px;
  border: 1px solid #0c375f;
  margin: 20px;
  width: 90%;
  border-radius: 15px;
  align-items: center;
}
.h3-wfresh {
  text-align: center;
}
.hari-wfresh{
  text-align: center;
}
.hari-wfresh {
  text-align: center;
  background-color: rgb(96, 135, 194);
  width: 500px;
  color: whitesmoke;
  border-radius: 10px;
  font-size: 30px;
}

.card-wfresh {
  width: 200px;
  height: 200px;
  background-color: rgb(77, 118, 165);
  margin: 5%;
  border-radius: 10px;
  padding: 5px;
  display: flex;
}
.nya-wfresh {
  text-align: center;
  padding: 50px;
  height: 200px;
}
.semuaaa-wfresh {
  width: 100%;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-wfresh img {
  width: 200px;
  height: 200px;
  border-radius: 24px;
}

.card-wfresh p {
  text-align: center;
  padding: 20px;
  width: 100%;
  padding: 10px;
}

.h1-wfresh-webinar {
  text-align: center;
  background-color: #0c375f;
  color: beige;
}

#col-wfresh {
  margin-top: 4%;
  flex-basis: 31%;
  background: rgb(97, 96, 155);
  margin-bottom: 5%;
  box-sizing: border-box;
  transition: 0.5s;
  box-shadow: 7px 7px 10px #6e5ac9;
  border-radius: 20px;
  height: 110px;
  align-content: center;
  align-items: center;
  text-align: center;
  float: left;
}

.audio-wfresh {
  float: left;
  padding: 30px;
  color: #967bd6;
}

.video-wfresh1 {
  width: 90%;
  align-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
}
